.body {
	margin: 0;
	padding: 0;
}
.menubar{
	position: fixed;
    /*  padding: 10px 0px 10px 0px;*/
    max-width: 100%;
    width: 100%;
    font-family: pt sans narrow,sans-serif;
    font-weight: 550;
    font-size: 16px;
    background: blue;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 99;
}

.error-font {
	color: red;
}

.intro-section {
	background-color : #764abc;
    background-size:100% 100%;
    height:55vh;
    z-index: -1;
    display:flex;
    flex-direction : column;
    justify-content: center;
    align-items:center;
}

.intro-quote {
	font-size: 1.5rem;
    font-family :  'Ubuntu', sans-serif;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color : white;
}

.intro-content {

}
.intro-button {
    margin-right: auto;
    margin-left: auto;
    display: flex;
	flex-direction: column;
    justify-content: space-around;
}

.custom-table {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.show-username {
	margin-right: 1rem;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-user:before {
  content: "\e008";
}

